version: 2.1

jobs:
    build:
        docker:
            - image: cimg/base:stable
        steps:
            - checkout

            - run:
                  name: Build Docker image
                  command: |
                      docker build \
                        --build-arg DATABASE_URL=${DATABASE_URL} \
                        --build-arg NEXT_PUBLIC_SUPABASE_URL=${NEXT_PUBLIC_SUPABASE_URL} \
                        --build-arg NEXT_PUBLIC_SUPABASE_ANON_KEY=${NEXT_PUBLIC_SUPABASE_ANON_KEY} \
                        -t my-app:latest .

            - run:
                  name: Push Docker image
                  command: |
                      echo $DOCKERHUB_PASS | docker login -u $DOCKERHUB_USER --password-stdin
                      docker tag my-app:latest $DOCKERHUB_USER/my-app:latest
                      docker push $DOCKERHUB_USER/my-app:latest

workflows:
    build_and_push:
        jobs:
            - build
