version: 2.1

jobs:
    build:
        docker:
            - image: cimg/base:stable
        steps:
            - checkout

            - setup_remote_docker:
                  docker_layer_caching: true

            - run:
                  name: Build Docker image
                  command: |
                      docker build \
                        --build-arg DIRECT_URL=${DIRECT_URL} \
                        --build-arg NEXT_PUBLIC_SUPABASE_URL=${NEXT_PUBLIC_SUPABASE_URL} \
                        --build-arg NEXT_PUBLIC_SUPABASE_ANON_KEY=${NEXT_PUBLIC_SUPABASE_ANON_KEY} \
                        -t rotanera:latest .

            - run:
                  name: Push Docker image
                  command: |
                      echo $DOCKERHUB_PASS | docker login -u $DOCKERHUB_USER --password-stdin
                      docker tag rotanera:latest $DOCKERHUB_USER/rotanera:latest
                      docker push $DOCKERHUB_USER/rotanera:latest

workflows:
    build_and_push:
        jobs:
            - build
